{% extends 'blog1/layout.html' %}

{% block body %}
<h5>Add Your Blog Post Details</h5>
<br>
<br>
  <fieldset class="module aligned ">
    <form class="" action="post_new" method="post">
      {% csrf_token %}

    <div class="">
      <label for="id_blog_title"><h5>Blog title:</h5></label>
      <input type="text" name="uname" value="" class="vTextField" maxlength="200"  required id="id_blog_title" />

    </div>
    <div class="form-row field-blog_description">
      <div class="">
        <label  for="id_blog_description"><h6>Blog description:</h6></label>
        <textarea name="esal" rows="6" class="vLargeTextField" required id="esal">
          </textarea>
      </div>
    </div>

    <br> <br>
    <input type="submit" class="waves-effect waves-light btn-small" value="Add Post">
    <br>
    </form>
  </fieldset>


  <br>
  <br>

  <a class="waves-effect waves-light btn-small" onclick="goBack()">back</a>
{% endblock %}
